* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  /* font-family: "Roboto Slab", serif; */
}

body {
  background: url("../img/banner.avif");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.active {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.conteiner {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

.nav_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  background-color: transparent;
}

.nav_inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav_inner ul li {
  position: relative;
  padding: 2px 10px;
  letter-spacing: 1px;
  z-index: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.nav_inner ul li:not(:last-child) {
  margin-right: 20px;
}

.nav_inner ul li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #fff;
  z-index: -1;
}

.nav_inner ul li:hover::before {
  cursor: pointer;
  -webkit-animation: 1s li_hover 1;
          animation: 1s li_hover 1;
  width: 100%;
}

.nav_inner ul li a {
  color: inherit;
}

.nav_inner ul li a:hover {
  color: #000;
  -webkit-animation: 0.5s li_hover-color 1;
          animation: 0.5s li_hover-color 1;
}

.nav_inner .bar {
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  display: none;
}

section {
  padding-top: 50px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: 650px;
}

section .box {
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

section .box:nth-child(4n-1) {
  grid-column: 1/2;
}

section .box:nth-child(4n-2) {
  grid-column: 3/4;
}

section .box:nth-child(4n-3) {
  grid-column: 1/3;
}

section .box:nth-child(4n) {
  grid-column: 2/4;
}

section .box h1.title {
  color: inherit;
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

section .box .img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

section .box p.content {
  color: inherit;
  letter-spacing: 1px;
}

footer {
  position: relative;
  width: 100%;
  background-color: #152238;
}

footer .footer_inner {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

footer .footer_inner ul li {
  padding: 2px 10px;
  letter-spacing: 1px;
}

footer .footer_inner ul li:not(:last-child) {
  margin-bottom: 10px;
}

footer .footer_inner .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_inner .social img {
  cursor: pointer;
}

footer .footer_inner .social img:not(:last-child) {
  margin-bottom: 10px;
}

@-webkit-keyframes li_hover-color {
  0% {
    color: #fff;
  }

  100% {
    color: #000;
  }
}

@keyframes li_hover-color {
  0% {
    color: #fff;
  }

  100% {
    color: #000;
  }
}

@-webkit-keyframes li_hover {
  0% {
    right: 0%;
    width: 2px;
  }

  50% {
    right: 100%;
    width: 2px;
  }

  100% {
    right: 0;
    width: 100%;
  }
}

@keyframes li_hover {
  0% {
    right: 0%;
    width: 2px;
  }

  50% {
    right: 100%;
    width: 2px;
  }

  100% {
    right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  section {
    grid-template-columns: 100%;
  }

  .box {
    grid-column: 1/2 !important;
  }
}

@media screen and (max-width: 600px) {
  .nav_inner ul {
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .nav_inner ul li {
    margin: 20px 0 !important;
    color: #000;
    text-align: center;
  }

  .nav_inner ul.active {
    left: 0;
  }

  .nav_inner .bar {
    display: block;
  }
}